In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('AI50 2024.csv')

In [3]:
df.head()

,NAME,WHAT IT DOES,FUNDING,YEAR FOUNDED,HEADQUARTERS
0,Abridge,Medical conversation documentation,$213 M,2018,"Pittsburgh, Pennsylvania, United States"
1,Adept,AI model developer,$415 M,2022,"San Francisco, California, United States"
2,Anduril Industries,Defense software and hardware,$2.8 B,2017,"Costa Mesa, California, United States"
3,Anthropic,AI model developer,$7.7 B,2020,"San Francisco, California, United States"
4,Anyscale,AI app deployment software,$259 M,2019,"San Francisco, California, United States"

In [4]:
df.duplicated().sum()

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          50 non-null     object
 1   WHAT IT DOES  50 non-null     object
 2   FUNDING       50 non-null     object
 3   YEAR FOUNDED  50 non-null     int64
 4   HEADQUARTERS  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [6]:
df.columns

Index(['NAME', 'WHAT IT DOES', 'FUNDING ', 'YEAR FOUNDED', 'HEADQUARTERS'], dtype='object')

In [7]:
df.columns = df.columns.str.strip()

In [8]:
df["FUNDING"].values

array(['$213 M', '$415 M', '$2.8 B', '$7.7 B', '$259 M', '$115 M',
       '$60 M', '$720 M', '$193 M', '$30 M', '$93 M', '$445 M', '$33 M',
       '$152 M', '$4 B', '$100 M', '$101 M', '$754 M', '$360 M', '$106 M',
       '$30 M', '$395 M', '$643 M', '$37 M', '$35 M', '$31 M', '$0 M',
       '$528 M', '$330 M', '$11.3 B', '$304 M', '$102 M', '$64 M',
       '$55 M', '$138 M', '$60 M', '$10 M', '$237 M', '$82 M', '$600 M',
       '$110 M', '$157 M', '$229 M', '$81 M', '$65 M', '$65 M', '$87 M',
       '$84 M', '$68 M', '$126 M'], dtype=object)

In [9]:
df["FUNDING"] = df["FUNDING"].str.strip("$")

def conversion(value):
    if "M" in value:
        return float(value.replace("M","")) * 10**6
    elif "B" in value:
        return float(value.replace("B","")) * 10**9
    

df["FUNDING"] = df["FUNDING"].apply(conversion)

In [10]:
df.dtypes

NAME             object
WHAT IT DOES     object
FUNDING         float64
YEAR FOUNDED      int64
HEADQUARTERS     object
dtype: object

In [11]:
df.head()

,NAME,WHAT IT DOES,FUNDING,YEAR FOUNDED,HEADQUARTERS
0,Abridge,Medical conversation documentation,2.130000e+08,2018,"Pittsburgh, Pennsylvania, United States"
1,Adept,AI model developer,4.150000e+08,2022,"San Francisco, California, United States"
2,Anduril Industries,Defense software and hardware,2.800000e+09,2017,"Costa Mesa, California, United States"
3,Anthropic,AI model developer,7.700000e+09,2020,"San Francisco, California, United States"
4,Anyscale,AI app deployment software,2.590000e+08,2019,"San Francisco, California, United States"

In [12]:
pd.options.display.float_format = '{:.0f}'.format

In [13]:
df.head()

,NAME,WHAT IT DOES,FUNDING,YEAR FOUNDED,HEADQUARTERS
0,Abridge,Medical conversation documentation,213000000,2018,"Pittsburgh, Pennsylvania, United States"
1,Adept,AI model developer,415000000,2022,"San Francisco, California, United States"
2,Anduril Industries,Defense software and hardware,2800000000,2017,"Costa Mesa, California, United States"
3,Anthropic,AI model developer,7700000000,2020,"San Francisco, California, United States"
4,Anyscale,AI app deployment software,259000000,2019,"San Francisco, California, United States"

In [14]:
df["HEADQUARTERS"].unique()

array(['Pittsburgh, Pennsylvania, United States',
       'San Francisco, California, United States',
       'Costa Mesa, California, United States',
       'Sunnyvale, California, United States',
       'Menlo Park, California, United States',
       'Mountain View, California, United States',
       'Toronto, Ontario, Canada', 'Amsterdam, Netherlands',
       'Palo Alto, California, United States', 'Cologne, Germany',
       'London, United Kingdom', 'New York, New York, United States',
       'Sydney, Australia', 'Paris, France', 'Stockholm, Sweden',
       'Atlanta, Georgia, United States',
       'Sacramento, California, United States'], dtype=object)

In [15]:
splits = df["HEADQUARTERS"].str.rsplit(",",n=1,expand=True)

In [16]:
splits2 = splits[0].str.split(",",n=1,expand=True)

In [17]:
df[["CITY","STATE/PROVINCE"]]=splits2

In [18]:
df["COUNTRY"]=splits[1]

In [19]:
df.head()

,NAME,WHAT IT DOES,FUNDING,YEAR FOUNDED,HEADQUARTERS,CITY,STATE/PROVINCE,COUNTRY
0,Abridge,Medical conversation documentation,213000000,2018,"Pittsburgh, Pennsylvania, United States",Pittsburgh,Pennsylvania,United States
1,Adept,AI model developer,415000000,2022,"San Francisco, California, United States",San Francisco,California,United States
2,Anduril Industries,Defense software and hardware,2800000000,2017,"Costa Mesa, California, United States",Costa Mesa,California,United States
3,Anthropic,AI model developer,7700000000,2020,"San Francisco, California, United States",San Francisco,California,United States
4,Anyscale,AI app deployment software,259000000,2019,"San Francisco, California, United States",San Francisco,California,United States

In [20]:
df = df.drop(columns="HEADQUARTERS")

In [21]:
df[["CITY","STATE/PROVINCE","COUNTRY"]].values

array([['Pittsburgh', ' Pennsylvania', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['Costa Mesa', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['Sunnyvale', ' California', ' United States'],
       ['Menlo Park', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['Mountain View', ' California', ' United States'],
       ['Toronto', ' Ontario', ' Canada'],
       ['Amsterdam', None, ' Netherlands'],
       ['Palo Alto', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['Cologne', None, ' Germany'],
       ['London', None, ' United Kingdom'],
       ['Sunnyvale', ' California', ' United States'],
       ['Palo Alto', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['New York', ' New York', ' United States'],
       ['New York', ' New York', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['Mountain View', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['Sydney', None, ' Australia'],
       ['San Francisco', ' California', ' United States'],
       ['Paris', None, ' France'],
       ['San Francisco', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['New York', ' New York', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['Paris', None, ' France'],
       ['Palo Alto', ' California', ' United States'],
       ['New York', ' New York', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['New York', ' New York', ' United States'],
       ['Stockholm', None, ' Sweden'],
       ['San Francisco', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['London', None, ' United Kingdom'],
       ['San Francisco', ' California', ' United States'],
       ['San Francisco', ' California', ' United States'],
       ['Atlanta', ' Georgia', ' United States'],
       ['Sacramento', ' California', ' United States'],
       ['Palo Alto', ' California', ' United States'],
       ['Toronto', ' Ontario', ' Canada'],
       ['Amsterdam', None, ' Netherlands'],
       ['San Francisco', ' California', ' United States']], dtype=object)

In [22]:
df["STATE/PROVINCE"] = df["STATE/PROVINCE"].str.strip()
df["COUNTRY"] = df["COUNTRY"].str.strip()

In [23]:
df[["STATE/PROVINCE","COUNTRY"]].values

array([['Pennsylvania', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['Ontario', 'Canada'],
       [None, 'Netherlands'],
       ['California', 'United States'],
       ['California', 'United States'],
       [None, 'Germany'],
       [None, 'United Kingdom'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['New York', 'United States'],
       ['New York', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       [None, 'Australia'],
       ['California', 'United States'],
       [None, 'France'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['New York', 'United States'],
       ['California', 'United States'],
       [None, 'France'],
       ['California', 'United States'],
       ['New York', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['New York', 'United States'],
       [None, 'Sweden'],
       ['California', 'United States'],
       ['California', 'United States'],
       [None, 'United Kingdom'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['Georgia', 'United States'],
       ['California', 'United States'],
       ['California', 'United States'],
       ['Ontario', 'Canada'],
       [None, 'Netherlands'],
       ['California', 'United States']], dtype=object)

In [24]:
df.head()

,NAME,WHAT IT DOES,FUNDING,YEAR FOUNDED,CITY,STATE/PROVINCE,COUNTRY
0,Abridge,Medical conversation documentation,213000000,2018,Pittsburgh,Pennsylvania,United States
1,Adept,AI model developer,415000000,2022,San Francisco,California,United States
2,Anduril Industries,Defense software and hardware,2800000000,2017,Costa Mesa,California,United States
3,Anthropic,AI model developer,7700000000,2020,San Francisco,California,United States
4,Anyscale,AI app deployment software,259000000,2019,San Francisco,California,United States

In [25]:
df.to_csv("ForbesAI50_Cleaned.csv",index=False)

PermissionError: [Errno 13] Permission denied: 'ForbesAI50_Cleaned.csv'